@font-face {
    font-family: 'Juniper-Normal';
    src: url('Juniper-Normal.woff2') format('woff2'),
        url('Juniper-Normal.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

